body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f7f7f7;
}

/* NAVBAR */
.navbar {
    background:  #a60808;
    color: white;
    padding: 6px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar .logo img {
    width: 55px;
}

.navbar nav a {
    margin: 0 12px;
    color: white;
    text-decoration: none;
    font-weight: normal;
    padding: 6px 12px;
    border-radius: 20px;
}
nav a:hover {
    background: #e6c200;
    color: black;
}

/* TITULO */
.titulo {
    text-align: center;
    margin: 35px 0 20px;
    font-size: 30px;
    color: #780000;
}

/* TARJETAS */
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding-bottom: 60px;
}

.tarjeta {
    background: white;
    width: 260px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.15);
    text-align: center;
}

.tarjeta .foto {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.tarjeta h3 {
    font-size: 18px;
    color: #a40000;
}

.tarjeta p {
    font-size: 14px;
    color: #333;
    line-height: 1.4em;
}

.tarjeta button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background: #bd0c0c;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.tarjeta button:hover {
    background: #7a0000;
}

.sola {
    margin-top: 40px;
}

/* FOOTER */
.footer {
    background: #bd0c0c;
    color: white;
    text-align: center;
    padding: 18px;
}

.social img {
    width: 22px;
    margin: 0 5px;
}
nav a {
    margin-left: 20px;
    padding: 8px 15px;
    background: #7a0000;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
